<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <img style="margin-top: 30px; margin-bottom: 30px" src="{{ '/public/pic-round.png' | relative_url }}" alt="pic">
      <div class="lead" style="margin-bottom:0">Master's Student</div>
      <div class="lead" style="margin-bottom:0">On-device AI & Embedded Systems</div>
      <div class="lead" style="margin-bottom:1rem">Chungnam National University, Daejeon, South Korea</div>      
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
      <a class="sidebar-nav-item" href="{{ '/publication/' | relative_url }}">Publications</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/sangho-ha-2ab2a2242/">Linkedin</a>
      <a class="sidebar-nav-item" href="https://github.com/sangho0804">GitHub project</a>
      {% comment %}
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
      {% endcomment %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>